<!-- <phpunit verbose="true" colors="true" bootstrap="tests/bootstrap.php"> -->
<phpunit verbose="true" colors="true">
  <testsuites>
    <!--<testsuite name="First and Third Test Suite">-->
      <!--<directory prefix="test-" suffix=".php">./tests</directory>-->
    <!--</testsuite>-->
    <testsuite name="Chadwick">
      <directory prefix="test-" suffix=".php">./tests/chadwick</directory>
    </testsuite>
    <testsuite name="batting-order">
      <directory prefix="test-" suffix=".php">./tests/batting-order</directory>
    </testsuite>
  </testsuites>
</phpunit>
